<a href="https://colab.research.google.com/github/liyanonline/Artificial-Intelligence-with-Python/blob/master/Interactive_Data_Analysis_with_Google_GenerativeAI_Marktechpost_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3!pip install pandas google-generativeai --quiet

In [ ]:
import pandas as pd
import google.generativeai as genai
from IPython.display import Markdown

In [ ]:
GOOGLE_API_KEY = "Use Your API Key Here"
genai.configure(api_key=GOOGLE_API_KEY)

model = genai.GenerativeModel('gemini-2.0-flash-lite')

In [ ]:
data = {'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Webcam', 'Headphones'],
        'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
        'Region': ['North', 'South', 'East', 'West', 'North', 'South'],
        'Units Sold': [150, 200, 180, 120, 90, 250],
        'Price': [1200, 25, 75, 300, 50, 100]}
sales_df = pd.DataFrame(data)

print("Sample Sales Data:")
print(sales_df)
print("-" * 30)

Sample Sales Data:
      Product     Category Region  Units Sold  Price
0      Laptop  Electronics  North         150   1200
1       Mouse  Electronics  South         200     25
2    Keyboard  Electronics   East         180     75
3     Monitor  Electronics   West         120    300
4      Webcam  Electronics  North          90     50
5  Headphones  Electronics  South         250    100
------------------------------

In [ ]:
def ask_gemini_about_data(dataframe, query):
    """
    Asks the Gemini Pro model a question about the given Pandas DataFrame.

    Args:
        dataframe: The Pandas DataFrame to analyze.
        query: The natural language question about the DataFrame.

    Returns:
        The response from the Gemini Pro model as a string.
    """
    prompt = f"""You are a data analysis agent. Analyze the following pandas DataFrame and answer the question.

    DataFrame:
    ```
    {dataframe.to_markdown(index=False)}
    ```

    Question: {query}

    Answer:
    """
    response = model.generate_content(prompt)
    return response.text

In [ ]:
# Query 1: What is the total number of units sold across all products?
query1 = "What is the total number of units sold across all products?"
response1 = ask_gemini_about_data(sales_df, query1)
print(f"Question 1: {query1}")
print(f"Answer 1:\n{response1}")
print("-" * 30)

Question 1: What is the total number of units sold across all products?
Answer 1:
Based on the provided DataFrame, the total number of units sold across all products is 990.

------------------------------

In [ ]:
# Query 2: Which product had the highest number of units sold?
query2 = "Which product had the highest number of units sold?"
response2 = ask_gemini_about_data(sales_df, query2)
print(f"Question 2: {query2}")
print(f"Answer 2:\n{response2}")
print("-" * 30)

Question 2: Which product had the highest number of units sold?
Answer 2:
Headphones

------------------------------

In [ ]:
# Query 3: What is the average price of the products?
query3 = "What is the average price of the products?"
response3 = ask_gemini_about_data(sales_df, query3)
print(f"Question 3: {query3}")
print(f"Answer 3:\n{response3}")
print("-" * 30)

Question 3: What is the average price of the products?
Answer 3:
The average price of the products is calculated by summing the 'Price' column and dividing by the number of rows in the DataFrame.
Sum of 'Price' column: 1200 + 25 + 75 + 300 + 50 + 100 = 1750
Number of rows: 6
Average Price = 1750 / 6 = 291.67 (rounded to two decimal places)

```
291.67
```
------------------------------

In [ ]:
# Query 4: Show me the products sold in the 'North' region.
query4 = "Show me the products sold in the 'North' region."
response4 = ask_gemini_about_data(sales_df, query4)
print(f"Question 4: {query4}")
print(f"Answer 4:\n{response4}")
print("-" * 30)

Question 4: Show me the products sold in the 'North' region.
Answer 4:
Here's the analysis of the DataFrame to answer the question:

The question asks for the products sold in the 'North' region.  I need to filter the DataFrame to include only rows where the 'Region' column is equal to 'North'.

Here's the resulting output based on the provided DataFrame:

```
| Product    | Category    | Region   |   Units Sold |   Price |
|:-----------|:------------|:---------|-------------:|--------:|
| Laptop     | Electronics | North    |          150 |    1200 |
| Webcam     | Electronics | North    |           90 |      50 |
```

------------------------------

In [ ]:
# Query 5. More complex query: Calculate the total revenue for each product.
query5 = "Calculate the total revenue (Units Sold * Price) for each product and present it in a table."
response5 = ask_gemini_about_data(sales_df, query5)
print(f"Question 5: {query5}")
print(f"Answer 5:\n{response5}")
print("-" * 30)

Question 5: Calculate the total revenue (Units Sold * Price) for each product and present it in a table.
Answer 5:
```
| Product    |   Total Revenue |
|:-----------|----------------:|
| Laptop     |          180000 |
| Mouse      |            5000 |
| Keyboard   |           13500 |
| Monitor    |           36000 |
| Webcam     |            4500 |
| Headphones |           25000 |
```

------------------------------